<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_URL</key>
	<string>https://api.themoviedb.org/3/movie/</string>
	<key>API_Key</key>
	<string>a07e22bc18f5cb106bfe4cc1f83ad8ed</string>
	<key>Base_Image_URL</key>
	<string>https://image.tmdb.org/t/p/w342</string>
	<key>BackDrop_Image</key>
	<string>https://image.tmdb.org/t/p/original</string>
</dict>
</plist>
